<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <title>WebChat聊天程序</title>
</head>
<body class="loginbody">
    <div>
        @RenderBody()
    </div>
</body>
</html>
